<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="icon" href="/img/fav-icon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/deal-soc.css" />
    <link rel="stylesheet" type="text/css" href="/css/mua-hang.css" />
    <link rel="stylesheet" type="text/css" href="/css/advantages.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-face.css" />
    <link rel="stylesheet" type="text/css" href="/css/deals.css" />
    <link rel="stylesheet" type="text/css" href="/css/starchart.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/COD.css" />
    <link rel="stylesheet" type="text/css" href="/css/myCss.css" />
    <link rel="stylesheet" type="text/css" href="/css/breadcrumb.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/item-hover-effect.css" />
    <link rel="stylesheet" type="text/css" href="/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/css/amazon-order.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/Price.css" />
    <link rel="stylesheet" type="text/css" href="/css/landing-style.css" /> 
    <link rel="stylesheet" href="/css/category.css" />
</head>

<body>
    <div id="root"></div>
    <script src="/bundle.js"></script>
</body>

</html>