<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="icon" href="/img/fav-icon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/deal-soc.css" />
    <link rel="stylesheet" type="text/css" href="/css/mua-hang.css" />
    <link rel="stylesheet" type="text/css" href="/css/advantages.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-face.css" />
    <link rel="stylesheet" type="text/css" href="/css/deals.css" />
    <link rel="stylesheet" type="text/css" href="/css/starchart.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/item-hover-effect.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css" /> 
    <link rel="stylesheet" href="/css/font-face.css" />

    <link rel="stylesheet" href="/css/COD.css" />
    <link rel="stylesheet" href="/css/myCss.css" />
    <link rel="stylesheet" href="/css/breadcrumb.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" href="/css/item-hover-effect.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" href="/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/css/deals.css" />
    <link rel="stylesheet" href="/css/font-face.css" />
    <link rel="stylesheet" href="/css/amazon-order.css" />
    <link rel="stylesheet" href="/css/website.css" />
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/item-hover-effect.css" />
    <link rel="stylesheet" href="/css/font-face.css" />
    <link rel="stylesheet" href="/css/detail-product.css" />
    <link rel="stylesheet" href="/css/breadcrumb.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" href="/css/item-hover-effect.css" />
    <link rel="stylesheet" href="/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/font-face.css" />
    <link rel="stylesheet" href="/css/Price.css" />
    <link rel="stylesheet" href="/css/breadcrumb.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" href="/css/item-hover-effect.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/deal-soc.css" />
    <link rel="stylesheet" type="text/css" href="/css/mua-hang.css" />
    <link rel="stylesheet" type="text/css" href="/css/advantages.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-face.css" />
    <link rel="stylesheet" type="text/css" href="/css/deals.css" />
    <link rel="stylesheet" type="text/css" href="/css/starchart.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/item-hover-effect.css" /> 

    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> --> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-tabs.css" />
    <link rel="stylesheet" href="/css/website.css" />
</head>

<body>
    <div id="root"></div>
    <!--	javascripts-->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login-out.js"></script>
    <script src="/bundle.js"></script>
</body>

</html>