/*.deals-w{
	width: 18.5% !important;
}*/

.xuat-xu{
	font-size: 14px;
	color: #2b96b6;
}

.deal-price{
	font-size: 14px;
	color: #b12704;
	font-weight: bold;
	font-family: HNLight;
}

.deal-old-price{
	font-size: 12px;
	font-family: HNLight;
}

.deal-title-font{
	font-size: 14px;
	font-weight: bold;
	font-family: HNLight;
}

.discount-tag-pos{
	right: 10%;
	z-index: 1;
}
