@font-face {
    font-family: HNLight;
    src: url('../font/helveticaneuelight.ttf');
}

@font-face {
    font-family: HNMedium;
    src: url('../font/helveticaneuemedium.ttf');
}

@font-face {
    font-family: HNRegular;
    src: url('../font/helveticaneue.ttf');
}