.active-small-image{
	box-shadow: 0px 0px 2px 2px rgb(248, 66, 16);
}
.none-hide{
	display: none;
}
.star-rating, .back-stars, .front-stars {
	display: flex;
  }
  .star-rating {
		position: relative;
    top: 14px;
    font-size: 18px;
  }
  .back-stars {
	color: #777777;
	position: relative;
  }
  .front-stars {
	color: #ffa700;
	overflow: hidden;
	position: absolute;
	top: 0;
	}
.height-18px{
	height: 18px;
}
.beginProduct{
	position: static; 
	left: auto; 
	width: 310px;
}
.fixedProduct{
	position: fixed;  
	width: 310px; 
	bottom: auto; 
	top: 0px;
}
.endProduct{
	position: absolute; 
	left: 0px;
	width: 310px; 
	bottom: 0px; 
	top: auto;
}
.list-small-image{
	height: 60px;
	width:273px;
}
.small-image{
	width: 48px !important;
}
.border-small-image {
	padding: 5px;
	border:1px solid #e1e1e1;
}
.list-small-image .slick-track{
	width: 500px !important
}
.list-small-image .slick-slide{
	width: 60px !important;
	margin-right: 10px;
}
.list-small-image .slick-prev:before, .slick-next:before {
  color: #7388C1;
}

