.active-small-image{
	box-shadow: 0px 0px 2px 2px rgb(248, 66, 16);
}
.none-hide{
	display: none;
}
.star-rating, .back-stars, .front-stars {
	display: flex;
  }
  .star-rating {
		position: relative;
    top: 14px;
    font-size: 18px;
  }
  .back-stars {
	color: #777777;
	position: relative;
  }
  .front-stars {
	color: #ffa700;
	overflow: hidden;
	position: absolute;
	top: 0;
	}
.height-18px{
	height: 18px;
}
.beginProduct{
	position: static; 
	left: auto; 
	width: 310px;
}
.fixedProduct{
	position: fixed; 
	left: 207.5px; 
	width: 310px; 
	bottom: auto; 
	top: 0px;
}
.endProduct{
	position: absolute; 
	left: 0px;
	width: 310px; 
	bottom: 0px; 
	top: auto;
}
.slides {
  position: relative 
}
.slick-prev, .slick-next {
	position: absolute;
	top: 50%;
}
.slick-prev {
	left: 5%;
}
.slick-next {
	right: 5%;
}