.active-small-image{
	box-shadow: 0px 0px 2px 2px rgb(248, 66, 16);
}

.none-hide{
	display: none !important;
}
.block-show{
	display: block !important;
}
.star-rating, .back-stars, .front-stars {
	display: flex;
  }
  .star-rating {
		position: relative;
    top: 14px;
    font-size: 18px;
  }
  .back-stars {
	color: #777777;
	position: relative;
  }
  .front-stars {
	color: #ffa700;
	overflow: hidden;
	position: absolute;
	top: 0;
	}
.height-18px{
	height: 18px;
}
.scrollProduct{
	height: 479px; 
	left: auto; 
	right: auto; 
	top: auto;
	bottom: auto; 
	position: static;
	display: block; 
	vertical-align: baseline;
	box-sizing: border-box; 
	margin: 0px; 
	padding-left: 0px; 
	padding-right: 0px; 
	float: none; 
	width: 310px; 
	z-index: -1;
}
.beginProduct{
	position: static; 
	left: auto; 
	width: 310px;
}
.fixedProduct{
	position: fixed;  
	width: 310px; 
	bottom: auto; 
	top: 0px;
	z-index: 1;
}
.endProduct{
	position: absolute; 
	left: 0px;
	width: 310px; 
	bottom: 0px; 
	top: auto;
}
.list-small-image{
	height: 60px;
	width:273px;
}
.small-image{
	width: 48px !important;
	height: 48px !important;
	
}
.border-small-image {
	padding: 5px;
	border:1px solid #e1e1e1;
	cursor: pointer;
}
.list-small-image .slick-track{
	width: 500px !important
}
.list-small-image .slick-slide{
	width: 60px !important;
	margin-right: 10px;
}
.list-small-image .slick-prev:before,.list-small-image .slick-next:before {
  color: #7388C1;
}

.sale-left .slick-slide {
	height: auto; 
}
.sale-left .slick-track {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}
.link-color-category:hover{
	color:#2196f3 !important;
}
#link-0-color-category-ebay{
	color:#2196f3 !important;
}
#link-0-color-category-amazon{
	color:#2196f3 !important;
}
#link-0-color-category-top{
	color:#2196f3 !important;
}
.logo-trang{
	width: 209px;
	left: 52px;
	position: relative;
}
.list-checked .slick-prev:before,.list-checked .slick-next:before {
	color: #7388C1;
}
.list-checked .panel-product-scroll{
	width: 207.6px !important; 
	height:235px !important;
}
.list-checked .slick-track{
	width: 1390px !important;
}
.list-checked .slick-slide{
	width: 226px !important;
}
.list-checked .slick-prev,.list-checked .slick-next {
	position: absolute;
	top: 110px;
}
.list-landing .slick-prev:before,.list-landing .slick-next:before{
	color: #7388C1;
	font-size: 40px;
}
.list-landing .slick-prev,.list-landing .slick-next{
	width: 40px;
	height: 40px;
	
}
.list-landing .slick-prev{
	display: block;
	position: absolute;
	left:30px;
	z-index: 1;	
} 
.list-landing .slick-next{
	display: block;
    position: absolute;
    right: 30px;
	z-index: 1;
}



