body{
	background-color: #e5e5e5;
}

a{
	text-decoration: none;
	color: white;
}

ul{
	list-style: none;
}

.nhap-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
}

.nhap-email:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
}

.nhap-email::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 12px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/*@media only screen and(max-width: 375px){*/
	.web-logo{
		padding-left: 3em;
	}

