.h1,.h2,.h3,.h4,.h5,.h6,body,h1,h2,h3,h4,h5,h6 {
    font-family: Roboto,sans-serif
}

.no-gutter,.no-gutter-right {
    padding-right: 0
}

.no-gutter,.no-gutter-left,.wrapper {
    padding-left: 0
}

.dr_menu_k li a,body {
    color: #333
}

.btn_ptthanhtoan a,.dia_chi h5,.footer h4,.head_nhang h1,.kiem_hang a,.last_slide a,.newletter button,.tt_formnhapkh li {
    text-transform: uppercase
}

.block_doitac_th .owl-theme .owl-nav [class*=owl-],.table_stk .close {
    text-indent: -9999px
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a,a:hover {
    text-decoration: none
}

body {
    background-color: #F2F2F2;
    position: relative
}

.mgt_60 {
    margin-top: 60px
}

.open>.dropdown-menu {
    -webkit-transform: scale(1,1);
    transform: scale(1,1)
}

.dropdown-menu {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1,0);
    display: block;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out
}

.wrapper {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.wrapper.toggled {
    padding-left: 250px
}

.wrapper.toggled .dr_menu_k {
    width: 250px
}

.dr_menu_k {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 60px;
    width: 0;
    height: 100%;
    margin-left: -251px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border-right: 1px solid #ddd
}

.dr_menu_k ul.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 10px 0 0;
    list-style: none
}

#mydiv,.block_hoidap {
    z-index: 10;
    top: 70px;
    right: 20px;
    box-shadow: rgba(0,0,0,.2) 0 8px 17px 0,rgba(0,0,0,.19) 0 6px 20px 0
}

.dr_menu_k li,.dr_menu_k li a {
    display: inline-block;
    width: 100%
}

.dr_menu_k li {
    padding: 10px
}

.dr_menu_k li:hover {
    background-color: #ddd
}

.dr_menu_k li:hover a {
    color: #236852
}

.dr_menu_k li img {
    float: left;
    margin-right: 17px;
    padding-top: 2px;
    margin-left: 10px
}

.block_hoidap {
    background-color: #fff;
    width: 350px;
    border-radius: 3px;
    position: fixed;
    display: none;
    border-bottom: 1px solid #ddd
}

.hd_header {
    display: inline-block;
    background-color: #236852;
    width: 100%;
    padding: 10px;
    position: relative;
    cursor: move;
    float: left
}

.hd_header h1 {
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin: 0
}

.hd_header h1 i {
    margin-right: 20px;
    float: left
}

.hd_header h1 i:hover {
    cursor: pointer
}

.cl_bl_hd {
    background: url(../images/bt_cl_hd.png) no-repeat;
    width: 16px;
    height: 15px;
    border: none;
    float: right
}

.list_hd,.list_hd ul li,.list_hd ul li a,.text_hd,.v_all_hd {
    display: inline-block;
    width: 100%
}

.text_hd input {
    background: url(../images/icon_tk_hd.png) 8px center no-repeat #fff;
    border: 1px solid #ddd;
    padding-left: 30px
}

.list_hd {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

.list_hd h4 {
    font-size: 14px;
    color: #757575;
    padding-left: 10px
}

.list_hd ul li {
    background: url(../images/icon_hd.svg) 10px 10px no-repeat;
    background-size: 7% 47%;
    margin: 5px 0;
    padding-right: 10px;
    padding-left: 52px;
    margin-left: 0!important
}

.list_hd ul li a {
    color: #757575;
    padding: 10px 0;
    border-bottom: 1px solid #ddd
}

.list_hd ul li:hover a,.v_all_hd a {
    color: #236852
}

.list_hd ul li:last-child a {
    border-bottom: none
}

.v_all_hd {
    border-top: 1px solid #ddd;
    padding: 10px
}

.v_all_hd a {
    background: url(../images/v_all_hd.svg) center right no-repeat;
    background-size: 15% 77%;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 700
}

#mydiv,.us-sremain {
    background-color: #fff
}

.ctent_quests {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto
}

.ctent_quests span {
    display: none
}

#mydiv {
    width: 350px;
    border-radius: 3px;
    position: fixed;
    border-bottom: 1px solid #ddd
}

#mydivheader {
    cursor: move
}

.us-sresult {
    display: block;
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 11
}

.us-sremain {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)
}

.us-sremain ul li {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #e8e8e8
}

.us-sremain ul li a p,.us-sremain>ul li a p img {
    width: 40px;
    height: 40px
}

.us-sremain ul li:hover {
    background: #f4f4f4
}

.us-sremain ul li:last-child {
    border-bottom: none
}

.us-sremain ul li a p {
    float: left
}

.us-sremain ul li a div {
    display: inline-block;
    padding-left: 10px
}

.us-sremain ul li a div h3 {
    font-size: 14px;
    line-height: 1.29;
    color: #505050;
    margin-bottom: 6px;
    margin-top: 0
}

div.item,div.item:hover {
    border-bottom: none;
    line-height: inherit
}

.us-sremain ul li a div p {
    font-size: 14px;
    font-weight: 700;
    color: #d0021b;
    margin-bottom: 0;
    height: auto
}

.swiper-container {
    width: 100%;
    height: 100%
}

.slider_hot .swiper-slide {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.swiper-slide img {
    max-width: 100%
}

.swiper-pagination-bullet-active {
    background: #fff
}

.slider_hot .swiper-button-next {
    background-image: url(../images/next_slide_banner.svg);
    width: 21px;
    height: 22px;
    background-size: auto
}

.slider_hot .swiper-button-prev {
    background-image: url(../images/back_slide_banner.svg);
    width: 21px;
    height: 22px;
    background-size: auto
}

.block_ds_sanpham {
    display: inline-block;
    width: 100%
}

.block_ds_sanpham ul li {
    list-style: none;
    padding: 0 5px;
    margin-bottom: 25px;
    width: 20%;
    float: left
}

.block_ds_sanpham ul li .thumb {
    margin-bottom: 10px;
    overflow: hidden
}

.block_ds_sanpham ul li .thumb a {
    display: table-cell;
    width: 218px;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    background-color: #fff
}

.block_ds_sanpham ul li .thumb img {
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.block_ds_sanpham .info .price-box {
    color: #000
}

.block_ds_sanpham .info .price-box strong {
    color: red
}

.binhluan_dgia {
    display: inline-block;
    width: 100%;
    height: 15px
}

.start i {
    color: #ffa800;
    font-size: 10px
}

.fa-star:before {
    content: "\f005"
}

.price-box span {
    font-size: 10px;
    color: #4D4D4D;
    text-decoration: line-through
}

.binhluan_dgia span {
    font-size: 8px;
    vertical-align: top;
    margin-left: 10px
}

.block_ds_sanpham .item .info .name {
    display: inline-block;
    width: 100%;
    height: 40px;
    overflow: hidden
}

.block_ds_sanpham .item .info .name a {
    color: #232f3d;
    display: block;
    text-overflow: ellipsis
}

.them_giohang,.them_giohang a,.tientrinh_bansp,.time_giaohang {
    display: inline-block
}

.block_ds_sanpham .item .info .name a:hover {
    color: #f36d2a
}

.time_giaohang {
    color: #236852;
    width: 100%;
    font-size: 12px;
    margin: 5px 0
}

.hangcungcap_sp img,.txt_hang i {
    float: left;
    margin-right: 5px
}

.tinhtrang_sp .time_today {
    color: grey;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px
}

.sl_con {
    font-size: 10px;
    color: #0FB55A
}

.sl_daban {
    font-size: 10px;
    color: grey
}

.tientrinh_bansp {
    width: 100%
}

.tientrinh_bansp.progress {
    background-color: #E5E5E5;
    margin-top: 5px;
    margin-bottom: 0;
    height: 8px
}

.tientrinh_bansp .progress-bar {
    background-color: #0FB55A
}

.them_giohang {
    text-align: center;
    margin-top: 10px;
    float: left
}

.block_ds_sanpham .them_giohang {
    width: 100%
}

.them_giohang a {
    background-color: #49B391;
    font-size: 13px;
    width: 100%;
    padding: 5px 10px
}

.them_giohang a:hover {
    background-color: #2dd6a0
}

.them_giohang a span {
    background: url(../images/icon_cart.svg) left center no-repeat;
    color: #fff;
    padding-left: 20px;
    background-size: 10%
}

.name_sp {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis
}

.name_sp a {
    font-size: 12px;
    color: grey
}

.name_sp a:hover {
    color: #FF8000
}

.hangcungcap_sp {
    font-size: 12px;
    color: grey;
    margin-top: 5px
}

div.item {
    padding: 0
}

div.item:hover {
    padding: 0;
    background-color: transparent
}

.block_slide_sp ul li {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    z-index: 1
}

.block_slide_sp .swiper-button-next,.block_slide_sp .swiper-button-prev {
    height: 100%;
    top: 0;
    z-index: 2;
    background-color: #fff;
    background-size: 28% 10%;
    width: 50px;
    margin-top: 0;
    outline: 0
}

.block_slide_sp .swiper-button-next {
    right: 0;
    background-image: url(../images/btn_next_slide.svg);
    opacity: .85
}

.block_slide_sp .swiper-button-prev {
    left: 0;
    background-image: url(../images/btn_back_slide.svg);
    opacity: .7
}

.swiper-button-disabled {
    display: none
}

.last_slide {
    text-align: center;
    height: auto;
    display: flex;
    align-items: center
}

.last_slide a {
    width: 100%;
    color: #236852
}

.last_slide a:hover {
    color: #FF8000
}

.last_slide a i {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px
}

.phantrang {
    display: inline-block
}

.phantrang ul {
    margin-top: 0;
    margin-bottom: 0
}

.phantrang span {
    vertical-align: top;
    margin-top: 0;
    padding-top: 2px;
    position: relative;
    display: inherit;
    color: #236852
}

.quangcao,.sp_noibat_hang,.sp_noibat_hang .tab-content {
    margin-top: 20px
}

.pagination>li>a,.pagination>li>span {
    background-color: transparent;
    border: none;
    color: #4D4D4D;
    padding: 2px 9px
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    border: 1px solid #0FB55A;
    background: 0 0;
    color: #333;
    padding: 0 7px
}

.quangcao {
    display: inline-block
}

.quangcao img {
    max-width: 100%
}

.sp_noibat_hang {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px
}

.sp_noibat_hang .nav-tabs li {
    width: 20%;
    text-align: center
}

.sp_noibat_hang .nav-tabs li a {
    color: #000;
    padding: 5px
}

.sp_noibat_hang .nav-tabs>li.active>a,.sp_noibat_hang .nav-tabs>li.active>a:focus,.sp_noibat_hang .nav-tabs>li.active>a:hover {
    color: #FF8000;
    cursor: default;
    border: 1px solid #F2F2F2;
    background: 0 0;
    border-bottom: 1px solid #FF8000
}

.sp_noibat_hang .nav>li>a:focus,.sp_noibat_hang .nav>li>a:hover {
    background: 0 0
}

.sp_noibat_hang .nav-tabs {
    border-bottom: none
}

.sp_noibat_hang .nav-tabs>li>a:hover {
    border: 1px solid #F2F2F2;
    border-bottom: 1px solid #FF8000;
    color: #FF8000
}

.sp_noibat_hang .tab-content .binhluan_dgia {
    width: auto
}

.sp_noibat_hang .tab-content ul li {
    width: 20%;
    position: relative;
    float: left;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd
}

.sp_noibat_hang .hover_ttsp,.sp_noibat_hang .tt_sp {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%
}

.sp_noibat_hang .tab-content ul {
    border-bottom: 1px solid #ddd;
    display: inline-block
}

.sp_noibat_hang .tab-content ul li:nth-child(5n+1) {
    border-left: 1px solid #ddd
}

.sp_noibat_hang .tab-content ul li .thumb img {
    max-width: 100%;
    width: 100%
}

.sp_noibat_hang .tt_sp {
    display: inline-block;
    background: #fff;
    opacity: .7
}

.sp_noibat_hang .binhluan_dgia span,.sp_noibat_hang .price-box {
    color: #000
}

.sp_noibat_hang .hover_ttsp {
    left: 0;
    right: 0;
    display: none;
    transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    background: #FF8000;
    color: #fff
}

.sp_noibat_hang li .item:hover .hover_ttsp {
    display: block
}

.logo_usexpress,.op_thuonghieu,.search-box_category,.search-box_input button,.show_menu,.txt_hang,.user_menu ul li,.xemthem_sp,.xemthem_sp i {
    display: inline-block
}

.sp_noibat_hang .hover_ttsp a,.sp_noibat_hang .hover_ttsp strong {
    color: #fff
}

.xemthem_sp {
    width: 100%;
    text-align: center;
    margin-top: 15px
}

.xemthem_sp a {
    color: #236852;
    padding-bottom: 30px
}

.xemthem_sp i {
    width: 100%;
    -webkit-animation: my2 .9s infinite;
    -moz-animation: my2 .9s infinite;
    -o-animation: my2 .9s infinite;
    animation: my2 .9s infinite;
    color: #236852
}

.header_top {
    background-color: #236852;
    padding: 15px 0
}

.user_menu {
    width: 140px
}

.user_menu ul li {
    margin-left: 10px;
    width: 34px;
    height: 34px;
    position: relative
}

.user_menu ul li.av_user img {
    border-radius: 50%
}

.user_menu ul li.av_user span {
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    color: #236852;
    width: 35px;
    height: 35px;
    display: inline-block
}

.show_menu {
    float: left
}

.logo_usexpress,.show_menu {
    padding-top: 8px
}

.logo_usexpress {
    margin-left: 10px;
    float: left
}

.search-box {
    margin-left: 40px
}

.search-box_category {
    float: left
}

.search-box_category select {
    font-size: 12px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #e5e5e5
}

.search-box_input input {
    border: none;
    border-radius: 0
}

.search-box_input button {
    background: url(../images/icon_tkiem.png) 7px 5px no-repeat #fff;
    width: 37px;
    height: 34px;
    border: none;
    outline: 0
}

.op_thuonghieu,.thuonghieu_logo {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.thuonghieu_logo {
    background-color: #E5E5E5;
    float: left;
    padding: 6px 12px
}

.op_thuonghieu {
    color: #000;
    width: 140px;
    box-sizing: border-box;
    background: url(../images/bg_line_tk.png) center right no-repeat
}

.txt_hang {
    padding: 7px 10px;
    cursor: pointer;
    width: 100%
}

.txt_hang i {
    color: #0FB55A;
    padding-top: 3px
}

.txt_hang i.fa-angle-down {
    float: right;
    margin-right: 0;
    color: #000
}

.op_thuonghieu .selected {
    background-color: #098f5d;
    color: #fff
}

.hide_op {
    display: none
}

.op_thuonghieu .options {
    width: 250px;
    background-color: #fff;
    position: relative;
    z-index: 10
}

.op_thuonghieu .options div {
    transition: all .2s ease-out;
    padding: 10px;
    line-height: 30px;
    width: 100%;
    cursor: pointer
}

.op_thuonghieu .options div img {
    margin-right: 15px
}

.op_thuonghieu .options div:hover {
    background-color: #ddd;
    color: #000
}

.cart_num {
    position: absolute;
    background: #f36e36;
    color: #fff;
    top: -4px;
    font-weight: 400;
    right: -5px;
    text-align: center;
    border: 3px solid #f36e36;
    font-size: 13px;
    min-width: 20px;
    line-height: 14px;
    border-radius: 50%
}

.breadcrumb {
    background: 0 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px
}

.breadcrumb a {
    color: #333
}

.breadcrumb li:first-child {
    background: url(../images/icon_home.png) 0 3px no-repeat;
    padding-left: 20px
}

.breadcrumb .active {
    color: #236852
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.tieuchi_usexpress {
    width: 100%;
    display: inline-block;
    margin: 20px auto 5px;
    text-align: center
}
.block_like {
    display: inline-block;
    margin-top: 20px;
}
.no-gutter, .no-gutter-left, .wrapper {
    padding-left: 0;
}
.no-gutter, .no-gutter-right {
    padding-right: 0;
}

.tieuchi_usexpress ul li {
    display: inline-block;
    width: 180px;
    font-size: 14px;
    color: #333;
    text-align: left
}

.tieuchi_usexpress ul li:first-child {
    width: 150px
}

.block_doitac_th .owl-next,.block_doitac_th .owl-prev {
    background-size: auto;
    background-repeat: no-repeat;
    width: 22px;
    border: none;
    background-color: transparent;
    height: 22px;
    outline: 0
}

.tieuchi_usexpress ul li:hover {
    color: #236852
}

.tieuchi_usexpress ul li img {
    float: left;
    padding-top: 5px
}

.tieuchi_usexpress ul li span {
    float: left;
    padding-left: 15px
}

.block_doitac_th .owl-next {
    background-image: url(../images/btn_next_sl.svg);
    right: 0
}

.block_doitac_th .owl-prev {
    background-image: url(../images/btn_back_sl.svg);
    left: 0
}

.block_doitac_th .owl-theme .owl-nav {
    display: block!important
}

.block_doitac_th .team-minimal a {
    border: 4px solid #236852;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 24px;
    margin: 0 15px;
    position: relative;
    display: inline-block
}

.block_doitac_th .active.center .team-minimal a {
    background-color: #fff
}

.block_doitac_th .team-minimal a::after {
    position: absolute;
    content: "";
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid transparent;
    transition: all .45s ease 0s;
    -webkit-transition: all .45s ease 0s;
    -moz-transition: all .45s ease 0s;
    -o-transition: all .45s ease 0s
}

.block_doitac_th .team-minimal:hover a::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all .45s ease 0s;
    -webkit-transition: all .45s ease 0s;
    -moz-transition: all .45s ease 0s;
    -o-transition: all .45s ease 0s;
    border-color: #236852 #FF8000 #FF8000 #236852
}

.block_doitac_th .active.center .team-minimal a::after {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transition: all .45s ease 0s;
    -webkit-transition: all .45s ease 0s;
    -moz-transition: all .45s ease 0s;
    -o-transition: all .45s ease 0s;
    border-color: #236852 #FF8000 #FF8000 #236852
}

.block_doitac_th .active.center .team-minimal:hover a::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all .45s ease 0s;
    -webkit-transition: all .45s ease 0s;
    -moz-transition: all .45s ease 0s;
    -o-transition: all .45s ease 0s;
    border-color: #236852 #FF8000 #FF8000 #236852
}

.block_doitac_th .team-minimal a img {
    bottom: 0;
    max-width: 100%;
    position: relative;
    transition: all .45s ease 0s;
    -webkit-transition: all .45s ease 0s;
    -moz-transition: all .45s ease 0s;
    -o-transition: all .45s ease 0s
}

.block_doitac_th .owl-carousel .owl-stage-outer {
    padding-top: 0
}

.clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: right;
    font-size: 30px
}

.ds_mausac .swiper-slide,.range_giatri .qty_input,.sl_giohang .qty_input,.smalltext,.tks_dhang,.tt_ngay,.tt_ngay a {
    text-align: center
}

.clockdiv>div {
    padding: 0 10px;
    display: inline-block;
    color: #333;
    vertical-align: top;
    line-height: 35%;
    margin-top: 5px;
    margin-bottom: 6px
}

.block-title,.filter_tk {
    margin-bottom: 15px;
    display: inline-block
}

.clockdiv div>span {
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;
    border: 1px solid #236852;
    padding: 5px 7px;
    vertical-align: top;
    line-height: 18px
}

.block_pttt ul li,.modal-dialog,.modal:before,.spgiohang_mobile thead tr th {
    vertical-align: middle
}

.smalltext {
    font-size: 10px;
    margin-top: 5px
}

.block-title {
    font-size: 24px;
    margin-top: 15px;
    background: url(../images/line_bl_title.svg) left center no-repeat;
    padding-left: 10px;
    line-height: 100%
}

.block-title span {
    font-size: 18px;
    margin-right: 15px
}

.block-title span strong {
    color: red
}

.filter_tk {
    margin-top: 20px
}

.filter_tk li {
    display: inline-block;
    margin: 0 10px
}

.filter_tk li a {
    font-size: 12px;
    color: #236852
}

.footer_top {
    background-color: #49b391;
    color: #fff;
    padding: 20px 0
}

.hotline_td span {
    font-size: 24px
}

.hotline_td span a {
    color: #fff
}

.hotline_td span img {
    margin-right: 10px
}

.newletter button {
    display: inline-block;
    background-color: #f2f2f2;
    color: #236852;
    padding: 6px 30px;
    border: 1px solid #fff;
    border-left: none
}

#big.owl-theme .owl-next span,#big.owl-theme .owl-prev span {
    display: none
}

.newletter input,.newletter input:focus {
    border: 1px solid #fff
}

.newletter input {
    background: 0 0;
    color: #fff
}

.newletter input::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase
}

.newletter input::-moz-placeholder {
    color: #fff;
    text-transform: uppercase
}

.newletter input:-ms-input-placeholder {
    color: #fff;
    text-transform: uppercase
}

.newletter input:-moz-placeholder {
    color: #fff;
    text-transform: uppercase
}

.newletter .input-group-btn button {
    border: 1px solid #fff;
    outline: 0
}

.side_anh_chitiet {
    margin-top: 20px
}

#thumbs {
    margin-top: 15px
}

.active.current {
    border: 1px solid #236852;
    padding: 1px
}

#thumbs .item {
    margin: 2px
}

#thumbs .item h1 {
    font-size: 18px
}

.bl_tim a,.tt_sp_chitiet .binhluan_dgia span {
    font-size: 12px
}

#thumbs .current .item {
    background: #FF5722
}

.owl-theme .owl-nav [class*=owl-] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.owl-theme .owl-nav [class*=owl-].disabled:hover {
    background-color: #D6D6D6
}

#big.owl-theme {
    position: relative
}

#big.owl-theme .owl-next,#big.owl-theme .owl-prev {
    width: 15px;
    line-height: 40px;
    height: 22px;
    margin-top: -18px;
    position: absolute;
    text-align: center;
    top: 50%;
    outline: 0
}

#big.owl-theme .owl-prev {
    left: 10px;
    background: url(../images/btn_back_slide.png) no-repeat
}

#big.owl-theme .owl-next {
    right: 10px;
    background: url(../images/btn_next_slide.png) no-repeat
}

.bl_tim a {
    background: url(../images/icon_heart.svg) 0 center no-repeat;
    background-size: 30% 60%;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #333
}

.block_tk_tinhtrangbansp,.block_ttsp {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd
}

.block_like {
    display: inline-block;
    margin-top: 20px
}

.block_like .bl_lk_shr li {
    display: inline-block;
    margin-left: 10px
}

.tt_sp_chitiet .binhluan_dgia {
    width: auto
}

.block_tk_tinhtrangbansp,.block_ttsp,.block_ttsp li {
    width: 100%;
    display: inline-block
}

.tt_mauma,.tt_nguoiban {
    font-size: 12px;
    display: inline-block
}

.tt_mauma {
    float: right
}

.tt_sp_chitiet .ten_sanpham h1 {
    font-size: 21px;
    color: #236852;
    margin-bottom: 20px
}

.block_ttsp {
    margin-top: 5px
}

.block_ttsp li {
    margin: 5px 0
}

.block_ttsp li span {
    font-size: 12px;
    float: left
}

.block_ttsp li span a {
    color: #4BC999;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer
}

.kiem_hang a,.option_segment li a {
    text-decoration: underline!important
}

.block_ttsp li .tong_gia_vnd {
    color: #FF8000
}

.block_ttsp label {
    min-width: 250px;
    float: left;
    margin-bottom: 0
}

.block_ttsp>span {
    font-style: italic;
    font-size: 12px;
    float: left
}

.block_tk_tinhtrangbansp {
    margin-top: 19px;
    min-height: 141px
}

.block_tk_tinhtrangbansp .tieuchi_banhang {
    margin-top: 10px
}

.block_tk_tinhtrangbansp .tieuchi_banhang li {
    background: url(../images/icon_usexpress.png) no-repeat;
    padding-left: 20px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    width: 49%
}

.block_tk_tinhtrangbansp .progress.tientrinh_bansp,.block_tk_tinhtrangbansp .tinhtrang_sp {
    width: 49%
}

.option_segment {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    margin-top: 19px
}

.option_segment li {
    display: inline-block;
    width: 100%;
    margin-bottom: 9px;
    position: relative
}

.option_segment li label {
    float: left;
    width: 130px;
    line-height: 25px;
    margin-bottom: 0
}

.option_segment li select {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 2px 5px;
    outline: 0
}

.option_segment li a {
    color: #4BC999;
    margin-left: 10px;
    font-size: 12px
}

.ds_mausac {
    float: left;
    height: 25px;
    width: 200px
}

.r_ds_mausac {
    position: relative
}

.r_ds_mausac .swiper-button-next {
    background: url(../images/next_mausac.png) 0 center no-repeat;
    width: 10px;
    height: 25px;
    margin-top: 0;
    top: 0;
    left: 70%;
    outline: 0
}

.r_ds_mausac .swiper-button-prev {
    background: url(../images/back_mausac.png) left center no-repeat;
    width: 10px;
    height: 25px;
    margin-top: 0;
    top: 0;
    left: 24%;
    outline: 0
}

.tt_sp_chitiet label {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    color: #000
}

.soluong_sp {
    display: inline-block;
    width: 100%;
    margin-top: 20px
}

.soluong_sp label {
    float: left;
    padding-top: 5px;
    margin-bottom: 0
}

.range_giatri .input-group-prepend {
    float: left;
    width: 23px;
    height: 23px
}

.range_giatri .input-group-prepend button {
    width: 23px;
    height: 23px;
    outline: 0;
    border: none
}

.range_giatri .qty_input {
    float: left;
    outline: 0;
    width: 50px;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 0;
    border-left: 0;
    border-right: 0
}

.sp_congiamgia {
    font-size: 11px;
    color: #000;
    float: right;
    padding-top: 5px
}

.action_dathang {
    display: inline-block;
    margin-top: 15px
}

.tt_ngay {
    display: inline-block;
    margin-top: 10px
}

.tt_ngay a {
    background-color: #FF8000;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    float: left
}

.tt_ngay a:hover {
    background-color: #f98f24
}

.tt_ngay a span {
    background: url(../images/icon_ttngay.png) left center no-repeat;
    color: #fff;
    padding-left: 20px
}

.bl_kiemhang_us {
    display: inline-block
}

.kiem_hang a {
    color: #0FB55A;
    font-size: 12px
}

.block_ttthanhtoan_chitiet {
    background: #fff;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    margin-top: 5px
}

.block_ttthanhtoan_chitiet ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px
}

.block_ttthanhtoan_chitiet ul li:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.block_ttthanhtoan_chitiet ul li label {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    width: 100%
}

.block_ttthanhtoan_chitiet ul li div {
    padding-left: 10px
}

.block_ttthanhtoan_chitiet ul li input {
    border: 1px solid #ddd;
    outline: 0;
    padding-left: 5px;
    width: 100px
}

.block_donhang,.tt_mota_sp,.tt_mota_sp .nav-tabs {
    width: 100%;
    display: inline-block
}

.block_ttthanhtoan_chitiet h6 {
    margin: 5px 0
}

.the_thtoan span {
    margin-right: 5px
}

.tt_mota_sp {
    margin-top: 20px
}

.tt_mota_sp .nav-tabs>li>a {
    color: #333;
    background: #E5E5E5;
    font-size: 12px
}

.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover,.tt_mota_sp .nav-tabs>li.active>a {
    background: #236852;
    color: #fff;
    border: 1px solid transparent
}

.tt_mota_sp .nav-tabs {
    border-bottom: 1px solid #666
}

.tt_mota_sp .tab-content {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
    padding-bottom: 50px
}

.block_donhang {
    margin-bottom: 20px
}

.chitiet_giohang table {
    background-color: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd
}

.ct_giohang_tongtien {
    background-color: #fff;
    padding: 10px;
    display: inline-block
}

.col_tensp {
    width: 40%
}

.col_anhsp {
    width: 15%
}

.ct_tensp {
    line-height: 25px
}

.ct_actionsp {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px
}

.block_tt_all .them_giohang,.ct_giohang_tongtien .tt_ngay,.info_spdaxem .hangcungcap_sp {
    margin-top: 0
}

.ct_actionsp ul li {
    display: inline-block;
    margin-right: 15px
}

.tt_giohang div {
    display: inline-block
}

.col_tongtien {
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}

.col_tongtien>span {
    float: left
}

.col_phimh,.col_tt {
    width: 130px
}

.gia_mh,.gia_tt {
    width: 120px
}

.gia_mh {
    color: #FF8000;
    font-weight: 700
}

.sl_giohang .input-group-prepend {
    float: left;
    width: 23px;
    height: 23px
}

.sl_giohang .input-group-prepend button {
    background-color: #CCC;
    border: 1px solid #CCC;
    width: 23px;
    height: 23px;
    outline: 0
}

.giam_sl {
    background: url(../images/giam_sl.png) center center no-repeat #ccc
}

.giam_sl:hover {
    background-color: #7b7777
}

.tang_sl {
    background: url(../images/tang_sl.png) center center no-repeat #ccc
}

.tang_sl:hover {
    background-color: #7b7777
}

.sl_giohang .input-group-prepend button i {
    color: #fff;
    font-size: 10px;
    font-weight: 400
}

.sl_giohang .qty_input {
    float: left;
    outline: 0;
    width: 50px;
    height: 23px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    background-color: #F2F2F2;
    border-radius: 0
}

.col_tensp img {
    float: left
}

.col_tensp span {
    float: left;
    padding-top: 3px;
    color: grey;
    font-size: 18px;
    margin-left: 10px
}

.block_tt_all {
    padding: 0 10px;
    margin-bottom: 50px
}

.block_tt_all .pull-left {
    padding-top: 8px
}

.block_tt_all .pull-left span {
    color: #FF8000;
    font-weight: 700;
    margin-right: 10px
}

.block_tt_all .them_giohang a span {
    background-size: 7%
}

.note_tb_giohang {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #236852;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #236852
}

.spgiohang_mobile {
    width: 100%;
    display: none
}

.block_pttt ul li,.footer ul li,.logo_btc,.spgiohang_mobile .box-row,.tbl_config .qty-left,.tks_addcard {
    display: inline-block
}

.spgiohang_mobile thead tr th.col_tensp {
    width: 110px
}

.spgiohang_mobile .box-row {
    width: 100%
}

.tbl_config .sl_giohang strong {
    margin-right: 10px;
    line-height: 25px;
    float: left
}

.tbl_config strong {
    float: left;
    line-height: 18px;
    margin-right: 10px
}

.tbl_config .qty-left {
    float: left
}

.spgiohang_mobile .col_tensp span {
    font-size: 14px
}

.spgiohang_mobile .ct_actionsp {
    display: inline-block;
    width: 100%
}

.block_ds_sanpham .info_spdaxem .price-box {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #F2F2F2;
    opacity: .7
}

.info_spdaxem .price-box span {
    text-decoration: none;
    font-size: 12px;
    color: #000
}

.dia_chi,.dia_chi a,.footer,.footer a,.item:hover .info_spdaxem .price-box span,.item:hover .info_spdaxem .price-box strong {
    color: #fff
}

.item:hover .info_spdaxem .price-box {
    background: #FF8000;
    color: #fff
}

.block_spdaxem ul li .thumb {
    margin-bottom: 0
}

.footer {
    background-color: #236852;
    padding: 20px 0
}

.footer h4 {
    font-size: 18px
}

.footer ul li {
    margin: 3px 0;
    width: 100%
}

.dia_chi {
    border-top: 1px solid #91b3a8;
    padding-top: 20px;
    margin-top: 15px;
    font-weight: 400
}

.logo_btc {
    margin: 20px 0
}

.block_pttt ul li,.block_theodoict li img {
    margin-right: 10px
}

.block_theodoict,.tks_addcard {
    margin-top: 20px
}

.block_pttt ul li {
    width: auto;
    list-style: none
}

#footer .block_theodoict li {
    margin-bottom: 15px
}

.tks_addcard {
    background-color: #fff;
    padding: 80px 40px
}

.content_tks h1 {
    font-size: 22px;
    color: #236852
}

.tks_dhang,a.tt_muahang {
    display: inline-block;
    color: #fff
}

.tks_dhang {
    width: 100%;
    margin: 10px 0;
    padding: 7px 0;
    background-color: #236852
}

.list_tks {
    display: inline-block;
    margin-top: 10px
}

.list_tks li {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    background: url(../images/icon_usexpress.png) no-repeat;
    padding-left: 20px
}

.count_ctiet_sp .clockdiv div span,.count_dow_spgiohang .clockdiv div span {
    margin-right: 10px
}

a.tt_muahang {
    padding: 7px 30px;
    background-color: #236852;
    margin-top: 10px
}

.count_ctiet_sp,.count_dow_spgiohang,.note_camkettt {
    background: #fff;
    display: inline-block;
    width: 100%
}

table.a-bordered {
    margin-bottom: 22px;
    border: 1px solid #e7e7e7;
    border-top-color: #eaeaea;
    border-bottom: none;
    border-spacing: 0
}

.count_ctiet_sp .clockdiv div,.count_dow_spgiohang .clockdiv div {
    line-height: 31px;
    margin-bottom: 3px
}

.cl_chitietphi {
    margin-top: 30px
}

.count_dow_spgiohang {
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 5
}

.count_dow_spgiohang .clockdiv {
    font-size: 11px;
    text-align: left
}

.count_dow_spgiohang h3 {
    font-size: 16px;
    margin-top: 10px;
    color: #236852
}

.count_ctiet_sp {
    left: 0;
    z-index: 10
}

.count_ctiet_sp .clockdiv {
    font-size: 11px
}

.count_ctiet_sp h3 {
    font-size: 16px;
    margin-top: 10px;
    color: #236852
}

.note_camkettt {
    padding: 20px
}

.note_camkettt span {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: inline-block
}

.note_camkettt h3 {
    font-size: 16px;
    margin: 0;
    line-height: 23px;
    font-weight: 400
}

.note_camkettt h3 img {
    margin-right: 10px;
    float: left
}

.note_camkettt ul {
    margin-bottom: 10px
}

.note_camkettt ul li {
    display: inline-block;
    margin-left: 10px
}

.person_client,.person_receiver {
    display: inline-block
}

.person_receiver {
    display: none
}

.btn_chonpttt,.btn_ptthanhtoan a,.checkout_sum ul li,.note_magiamgia,.page-purchase,.text_tt {
    display: inline-block
}

.page-purchase .checkout_primary .payment_billingform .edit_padding .checkbox input {
    display: inline-block;
    margin-top: 4px;
    float: left
}

.page-purchase {
    margin-top: 30px;
    border: 1px solid #ccc;
    background: #F9F9F9
}

.page_thanhtoan .logo_usexpress {
    margin-left: 0
}

.btn_ptthanhtoan {
    padding: 30px 0
}

.btn_chonpttt {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 35px
}

.btn_ptthanhtoan a {
    background-color: #236852;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}

.btn_ptthanhtoan a:hover {
    background-color: #448c75
}

.tt_dvkhachang {
    margin-top: 20px;
    padding-bottom: 30px
}

.tt_dvkhachang .warp {
    padding: 15px 20px;
    background: #e5e5e5;
    color: #666
}

.text_tt {
    margin-top: 15px
}

.text_xthuc_us {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px
}

.checkout_sidebar .warp {
    background: 0 0
}

.checkout_sidebar .heading h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.checkout_sum,.checkout_sum .ds_checksum {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px
}

.checkout_sum ul li {
    width: 100%;
    color: #333;
    margin: 5px 0
}

.checkout_sum ul li i {
    color: #999
}

.tong_tientt {
    font-size: 21px;
    margin-top: 10px!important
}

.note_magiamgia {
    font-size: 12px;
    margin-top: -8px;
    width: 100%;
    margin-bottom: 5px
}

.color_yllow {
    color: #DBA510
}

.checkout_sum ul li p {
    margin-bottom: 0
}

.checkout_sum .ds_checksum {
    margin-bottom: 10px
}

.checkout_sum {
    margin-bottom: 15px
}

.tt_formnhapkh {
    display: none;
    padding-left: 35px
}

.hd_round_b2tt {
    display: none
}

.sh_round_b2tt {
    display: block
}

.ds_nhang,.ds_nhang ul,.ds_nhang ul li,.head_nhang,.luuy_nganhang,.modal-dialog,.modal:before,.sotienchuyen {
    display: inline-block
}

.buoc2_ttoan .heading h3 strong {
    background: 0 0;
    color: #333;
    border: 1px solid #ccc
}

.buoc2_ttoan .heading h3 strong.active {
    background-color: #DBA510;
    color: #fff;
    border: 1px solid #DBA510
}

.buoc2_ttoan.warp {
    margin-bottom: 40px
}

.page-nganhang {
    margin-top: 50px;
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    padding: 15px 20px;
    margin-bottom: 15px
}

.sotienchuyen {
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 25px
}

.head_nhang {
    width: 100%;
    margin-bottom: 20px
}

.head_nhang img {
    float: left;
    margin-right: 20px
}

.head_nhang h1 {
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 0
}

.ds_nhang {
    width: 100%;
    margin-top: 20px
}

.ds_nhang ul {
    width: 100%
}

.ds_nhang ul li {
    width: 16.66%;
    float: left;
    padding: 15px
}

.ds_nhang ul li img {
    border: 1px solid #ddd;
    background: #fff
}

.ds_nhang ul li a {
    cursor: pointer
}

.luuy_nganhang {
    width: 100%;
    margin: 5px 0 20px;
    line-height: 28px
}

.note_nhang a {
    color: #236852
}

.table_stk tbody>tr>td {
    border-top: none;
    border-right: 1px solid #ccc
}

.table_stk tbody>tr>td:last-child {
    border-right: none
}

.table_stk .close {
    background: url(../images/cl_dilog.png) no-repeat;
    width: 18px;
    height: 17px;
    margin-top: 0;
    opacity: 1
}

.modal {
    text-align: center;
    padding: 0!important
}

.modal:before {
    content: '';
    height: 100%;
    margin-right: -4px
}

.modal-dialog {
    text-align: left
}

@media screen and (max-width: 992px) {
    .hotline_pagett img,.soluong_sp label {
        margin-right:10px
    }

    .header_bottom {
        padding-top: 50px
    }

    .block_spdaxem ul li {
        width: 100%
    }

    .bl_cate_sp ul li {
        width: 50%
    }

    .bl_kiemhang_us {
        padding-left: 0;
        margin-top: 10px
    }

    .kiem_hang a {
        margin-top: 10px;
        display: inline-block
    }

    .r_ds_mausac .swiper-button-next {
        right: 10%;
        left: inherit
    }

    .count_dow_spgiohang {
        top: 50px
    }

    .count_dow_spgiohang h3 {
        text-align: center;
        margin-bottom: 0
    }

    .count_dow_spgiohang .clockdiv {
        font-size: 11px;
        text-align: center;
        width: 100%;
        margin-bottom: 5px
    }

    .page-nganhang,.page-purchase {
        margin-top: 65px
    }

    #topbar.topbar .logo {
        float: left;
        margin-left: 40px
    }

    .hotline_pagett a {
        color: #fff
    }

    .hotline_pagett {
        margin-top: 15px
    }

    #main_container {
        margin-bottom: 0
    }
}

@media screen and (max-width: 600px) {
    .hd_mobile,.tieuchi_usexpress {
        display:none
    }

    .block_doitac_th .owl-carousel-center .owl-stage,.block_ds_sanpham ul li .thumb a {
        height: 140px
    }

    #topbar.topbar_pagett .hotline_pagett img,.soluong_sp label {
        margin-right: 10px
    }

    .col_dia_chi {
        padding-left: 10px;
        padding-right: 0
    }

    .block-title {
        font-size: 18px
    }

    .header_bottom {
        padding-top: 50px
    }

    .tieuchi_usexpress ul li span {
        font-size: 13px
    }

    .hotline_td {
        margin-bottom: 10px
    }

    .block_doitac_th .owl-carousel-center .owl-item .team-minimal {
        width: 100px;
        top: 30px
    }

    .block_doitac_th .owl-carousel-center .owl-item.center .team-minimal {
        width: 160px;
        top: 0
    }

    .block_doitac_th .team-minimal a {
        padding: 0
    }

    .block_doitac_th .owl-prev {
        background-size: 60%
    }

    .block_doitac_th .owl-next {
        background-size: 60%;
        background-position: right center
    }

    .bl_cate_sp ul li,.sp_noibat_hang .nav-tabs li,.sp_noibat_hang .tab-content ul li {
        width: 50%
    }

    .block_spdaxem ul li,.chitiet_giohang,.tt_sp_chitiet .block_tk_tinhtrangbansp .progress.tientrinh_bansp,.tt_sp_chitiet .block_tk_tinhtrangbansp .tieuchi_banhang li,.tt_sp_chitiet .block_tk_tinhtrangbansp .tinhtrang_sp {
        width: 100%
    }

    .sp_noibat_hang .tab-content ul li:nth-child(2n+1) {
        border-left: 1px solid #ddd
    }

    .block_tt_all .them_giohang {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px
    }

    .spgiohang_mobile {
        display: block
    }

    .tt_nguoiban {
        margin-left: 0
    }

    .kiem_hang {
        display: inline-block;
        margin-top: 10px
    }

    .block_tt_all {
        padding: 0;
        margin-bottom: 20px
    }

    .block_tt_all strong {
        float: right
    }

    .option_segment li label {
        width: 100px
    }

    .r_ds_mausac .swiper-button-next {
        right: 0;
        left: inherit
    }

    .slider_hot {
        display: none
    }

    .tks_addcard {
        margin-top: 20px;
        display: inline-block;
        background-color: #fff;
        padding: 20px 0
    }

    .block_ds_sanpham .swiper-slide {
        width: 165px!important
    }

    .block_slide_sp .swiper-button-next,.block_slide_sp .swiper-button-prev {
        display: none
    }

    .count_dow_spgiohang {
        top: 50px
    }

    .count_dow_spgiohang h3 {
        text-align: center;
        margin-bottom: 0
    }

    .count_dow_spgiohang .clockdiv {
        font-size: 11px;
        text-align: center;
        width: 100%;
        margin-bottom: 5px
    }

    .count_ctiet_sp,.count_ctiet_sp h3 {
        text-align: center
    }

    .count_ctiet_sp h3 {
        font-size: 15px;
        margin-top: 5px;
        color: #236852;
        margin-bottom: 5px
    }

    .note_camkettt h3 {
        font-size: 10px
    }

    .buoc2_ttoan .submit button {
        width: 100%;
        margin-bottom: 5px
    }

    .note_camkettt {
        padding: 10px
    }

    .note_camkettt ul {
        margin-bottom: 10px;
        float: left!important;
        margin-top: 10px
    }

    .note_camkettt ul li {
        margin-left: 0;
        margin-right: 10px
    }

    .note_camkettt span {
        padding: 0 0 10px
    }

    .page-purchase .checkout_sidebar .checkout_sum {
        padding: 0
    }

    .checkout_primary .heading {
        margin-bottom: 5px;
        padding-bottom: 5px
    }

    .checkout_primary .heading a {
        margin-top: 0
    }

    .payment_billingform .no-gutter-left {
        padding-right: 0
    }

    .payment_billingform .no-gutter-right {
        padding-left: 0
    }

    .payment_billingform .form-group {
        display: inline-block;
        width: 100%
    }

    .buoc2_ttoan .form-check label {
        width: 100%
    }

    .page-purchase .checkout_sidebar .heading {
        padding: 0 10px
    }

    .page-purchase .heading a {
        float: right;
        margin-top: 5px
    }

    #topbar.topbar_pagett .logo {
        margin-left: 0;
        float: left
    }

    #topbar.topbar_pagett .hotline_pagett {
        font-size: 18px;
        color: #fff;
        display: inline-block;
        margin-top: 14px
    }

    #topbar.topbar_pagett .hotline_pagett a {
        color: #fff
    }

    .tt_sp_chitiet label {
        min-width: auto;
        padding-right: 10px
    }

    .sp_congiamgia {
        float: left
    }

    .range_giatri {
        padding-left: 0
    }

    .page-nganhang {
        margin-top: 65px
    }

    .ds_nhang ul li {
        width: 33.33%;
        padding: 0
    }

    #main_container {
        margin-bottom: 0
    }

    .head_nhang h1 {
        margin-top: 8px;
        font-size: 15px
    }
}

@media screen and (max-width: 400px) {
    .block_ds_sanpham .swiper-slide {
        width:150px!important;
        margin-right: 15px!important
    }

    .block_ds_sanpham .them_giohang a {
        padding: 5px
    }

    .block-title {
        font-size: 17px;
        line-height: inherit
    }

    .head_nhang h1 {
        margin-top: 0;
        font-size: 16px
    }
}
