
    #main_container {
        background: #fff
    }

    #shoping_cart .sp_dachon {
        margin: 0 -15px
    }

    .sp_dachon .table-responsive .datagrid,.table-responsive {
        border: 0
    }

    #shoping_cart .datagrid td.tensp {
        width: 90px
    }

    #shoping_cart .shoppingcart_action a {
        margin: 0 0 10px 10px
    }

    #shoping_cart .datagridRowStyle .soluong .tr {
        width: 40px
    }

    #shoping_cart .datagridRowStyle .soluong input {
        width: 35px
    }

    .page_profile .info_profile {
        width: 100%;
        margin: 0 10px 20px;
        padding-bottom: 40px
    }

    .page_profile .col-md-9 {
        padding-left: 10px
    }

    .order-details .order-box {
        padding: 10px
    }

    .order-details .time_ship a {
        font-size: 18px;
        width: 45px;
        height: 45px;
        line-height: 43px;
        border: 2px solid #ededed
    }

    .order-details .time_ship .item.active a {
        border: 2px solid #216650
    }

    .order-details .time_ship .item:before {
        top: 22px;
        height: 3px
    }

    .high_light1 .left {
        width: 100%;
        position: static;
        top: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0)
    }

    .high_light1 {
        padding: 50px 0
    }

    .high_light1 .left .content {
        padding: 0
    }

    .high_light1 .left .content h2 {
        top: 0;
        position: static;
        padding: 0;
        font-size: 18px
    }

    .high_light1 .right {
        width: 100%;
        margin-top: 10px
    }

    .high_light2 {
        position: relative;
        padding: 40px 0
    }

    .high_light2 .left {
        width: 100%;
        margin-bottom: 10px
    }

    .high_light2 .right {
        padding: 0 10px;
        width: 100%;
        margin-bottom: 20px;
        left: 0
    }

    .high_light3 {
        position: relative;
        padding: 40px 0
    }

    .high_light3 .left {
        padding: 0;
        width: 100%
    }

    .high_light3 .right {
        margin-top: 10px;
        width: 100%
    }

    .page_lienhe {
        padding: 30px 0
    }

    .page_lienhe h1 {
        font-size: 20px;
        margin-bottom: 20px
    }

    .page_lienhe .contact {
        padding: 0 10px;
        margin-bottom: 20px
    }

    .faq-container .tab {
        width: 100%;
        margin-bottom: 20px
    }

    .faq-container .tab-content {
        width: 100%;
        padding: 0
    }

    .faq-container {
        margin-top: -135px
    }

    .info_about .col-md-5 img {
        width: 60%;
        display: block;
        margin: 0 auto 20px
    }

    .info_about .col-md-7 {
        padding: 0
    }

    .customer_about {
        padding: 30px 20px
    }

    .customer_about h2 {
        font-size: 20px
    }

    .list_bank .item {
        width: 100%;
        margin-bottom: 10px
    }

    .block_about_usexpress #ups .up img {
        width: 40%
    }

    .product-info .content .tieu_chuan li {
        font-size: 12px;
        padding-left: 12px
    }

    .product-info .content .tieu_chuan li:before {
        left: -4px
    }


@media screen and (max-width: 375px) {
    .product-info .content .add-cart {
        margin:10px 0 0
    }
}

.owl-carousel {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item,.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    cursor: pointer;
    z-index: 1;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

@media screen\0 {
    #top_banner .text_post .lead span {
        background: 0 0!important;
        color: #4d98dc
    }
}

@-moz-document url-prefix() {
    #top_banner .text_post .lead span {
        background: 0 0!important;
        color: #4d98dc;
        -webkit-text-fill-color: #4d98dc
    }
}

@media all and (-webkit-min-device-pixel-ratio: 10000),not all and (-webkit-min-device-pixel-ratio:0) {
    #top_banner .text_post .lead span {
        background:0 0!important;
        color: #4d98dc
    }
}
